<div class="container error" style="height: 100%;">
 <h1 class="title">404!</h1>	
 <p class="message">Hmmmmm... looks like the page you're looking of isn't here right now.</p> 
 <p class="message"><a href="index.html" title="Home">Need to get back home?</a></p>
</div>