<div class="footer-bg">

	<footer class="container">

		<p class="footer__text">Designed &amp; built by Paul Bamford<br>
			<span class="copyright">&copy; 2013</span>
		</p>
		

		<div class="social">
			<a href="http://twitter.com/the_pgb" class="social__icon" title="Follow me on twitter"><i class="foundicon-twitter"></i></a>
			<a href="http://uk.linkedin.com/pub/paul-bamford/73/617/130/" class="social__icon" title="Connect with me on linkedIn"><i class="foundicon-linkedin"></i></a>
			<a href="skype:bam_man81?add" class="social__icon" title="Skype me"><i class="foundicon-skype"></i></a>
			<a href="http://dribbble.com/the_pgb" class="social__icon" title="Follow me on dribbble"><i class="foundicon-dribbble"></i></a>
		</div>

	</footer>
<!-- 
	Curious what's under the hood?

	Hand crafted using - 

	• HTML5 & CSS3
	• Middleman - http://middlemanapp.com/
	• Bourbon - http://bourbon.io/
	• Bourbon Neat - http://neat.bourbon.io/
	• Sass - http://sass-lang.com/
	• jQuery - http://jquery.com/
	• Waypoints - http://imakewebthings.com/jquery-waypoints/	

 -->
</div>