<div class="fixed-header">	
	<a href="index.html" title="Paul Bamford - UI/UX designer"><img class="logo" src="images/logo.png" alt="Paul Bamford - UI/UX designer"></a>	
	<nav role="navigation" class="main-nav">
		<ul class="main-nav__list unstyled-list inline sans-serif-type">
			<li><a href="#work" class="main-nav__item work-nav" title="Work">Work</a></li>
			<li><a href="#about" class="main-nav__item about-nav" title="About">About</a></li>
			<li><a href="#contact" class="main-nav__item contact-nav" title="Contact">Contact</a></li>
		</ul>
	</nav>
</div>