---
title: Paul Bamford - UI/UX Designer - Asda Mobile website
---

<header role="banner" class="project-page__header">

<%= partial "main-nav", :class=> "" %>

<div class="project-page__title-bg">

	<div class="container slideable">


		<div class="project-page__title">
			<h1>Asda Mobile</h1>
			<h2>Mobile website</h2>
			<h3>UI/UX</h3>
		</div>

		
		<div class="project-page__intro">
			<p>Asda provide a SIM cards and phone plans through asdamobile.com but the site's content and design were aimed at desktop users so we reviewed the site content and structure then put together wireframes and designs tailored to small screen devices focusing on quick navigation and a simplified user journey.</p>
			
			<p>See it at <a href="http://m.asdamobile.com" class="green-text" title="Asda Mobile">m.asdamobile.com</a> (you'll have to use your mobile).</p>
		</div>

		<div class="arrow-wrapper previous">
			<a href="milkshake-ipad.html" class="arrow" title="Previous project">Prev</a>
			<p class="arrow__job-title">Milkshake iPad app</p>
		</div>

		<div class="arrow-wrapper next">
			<a href="other-projects.html" class="arrow" title="Next project">Next</a>
			<p class="arrow__job-title">Other projects</p>
		</div>
 	
	</div>

	</div>

</header>

<section class="project-page__content">	

	<div class="container mobile-project">

		<figure class="mobile-project__fig">
			<img src="images/blank-img.png" data-src="images/asda-mobile-img-1.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Tariff page</figcaption>
		</figure>	
	
		<figure class="mobile-project__fig">
			<img src="images/blank-img.png" data-src="images/asda-mobile-img-2.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Roaming page</figcaption>
		</figure>

	</div>

</section>

<div class="contact-bg project-page__contact">

	<!-- Static bottom arrows for mobile -->

	<div class="arrow-wrapper previous bottom-arrow">
		<a href="milkshake-ipad.html" class="arrow" title="Previous project">Prev</a>
	</div>
	
	<div class="arrow-wrapper next bottom-arrow">
		<a href="other-projects.html" class="arrow" title="Next project">Next</a>
	</div>
	
	<section id="contact" class="container">
		<a href="mailto:hello@paulbamford.me" title="Get in touch" class="contact__email">hello@paulbamford.me</a>
	</section>
</div>

