---
title: Paul Bamford - UI/UX Designer - Asda Mobile launch pages
---

<header role="banner" class="project-page__header">

<%= partial "main-nav", :class=> "" %>

<div class="project-page__title-bg">

	<div class="container slideable">


		<div class="project-page__title">
			<h1>Asda Mobile</h1>
			<h2>Landing pages</h2>
			<h3>UI/Visual style/Front-end development</h3>
		</div>

		<div class="project-page__intro">
			<p>Major UK supermarket Asda were switching network providers and they wanted to let everyone know and to set the tone for their relaunched service. As well as putting together the wireframes for the full site I tried to bring a more fresh, modern style without any clutter and to the point.</p>

			<p>Live late September</p>
		</div>




		<div class="arrow-wrapper previous">
			<a href="big-brother-ipad.html" class="arrow" title="Previous project">Prev</a>
			<p class="arrow__job-title">Big Brother iPad</p>
		</div>

		<div class="arrow-wrapper next">
			<a href="lumia-1020-mobile.html" class="arrow" title="Next project">Next</a>
			<p class="arrow__job-title">Nokia Lumia 1020</p>
		</div>
 	
	</div>

	</div>

</header>

<section class="project-page__content">	

	<div class="container">

		<figure>
			<img src="images/blank-img.png" data-src="images/asda-mobile-img.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Home screen</figcaption>
		</figure>
	</div>

</section>

<div id="contact" class="contact-bg project-page__contact">

	<!-- Static bottom arrows for mobile -->

	<div class="arrow-wrapper previous bottom-arrow">
		<a href="big-brother-ipad.html" class="arrow" title="Previous project">Prev</a>
	</div>
	
	<div class="arrow-wrapper next bottom-arrow">
		<a href="nokia-1020-mobile.html" class="arrow" title="Next project">Next</a>
	</div>

	<section id="contact" class="container">
		<a href="mailto:hello@paulbamford.me" title="Get in touch" class="contact__email">hello@paulbamford.me</a>
	</section>
</div>

