---
title: Paul Bamford - UI/UX Designer - Big Brother iPad app
---

<header role="banner" class="project-page__header">

<%= partial "main-nav", :class=> "" %>

<div class="project-page__title-bg">

	<div class="container slideable">


		<div class="project-page__title">
			<h1>Big Brother UK</h1>
			<h2>iPad app</h2>
			<h3>Concept/UI/icons</h3>
		</div>

		<div class="project-page__intro">
			<p>For the 2012 installment of reality TV giant Big Brother Channel 5 asked us to put together an iPad app to let access the latest news at the swipe of a finger. We devised a horizontally scrolling news feed that integrates article, social feeds and videos seamlessly whilst allowing the user access to content from all of the previous days in the BB house.</p>
		</div>

		<div class="arrow-wrapper previous">
			<a href="john-lewis-kiosk" class="arrow" title="Previous project">Prev</a>
			<p class="arrow__job-title">John Lewis kiosk</p>
		</div>

		<div class="arrow-wrapper next">
			<a href="asda-mobile-landing.html" class="arrow" title="Next project">Next</a>
			<p class="arrow__job-title">Asda Mobile landing pages</p>
		</div>
 	
	</div>

	</div>

</header>

<section class="project-page__content">	

	<div class="container">

		<figure>
			<img src="images/blank-img.png" data-src="images/big-brother-img.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Home screen</figcaption>
		</figure>
	
		<div class="project-page__copy">
			<p>The horizontally scrolling timeline made up of news stories, tweets, photos and 	video. Quick and easy access to the quickly changing content.</p>
		</div>
	
		<figure>
			<img src="images/blank-img.png" data-src="images/big-brother-img-2.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Twitter feed</figcaption>
		</figure>
	
		<figure>
			<img src="images/blank-img.png" data-src="images/big-brother-img-3.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">News story</figcaption>
		</figure>
	
		<figure>
			<img src="images/blank-img.png" data-src="images/big-brother-housemate-filter.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Housemate filters</figcaption>
		</figure>
	
		<div class="project-page__copy">
			<p>A filter tab in the bottom nav let's users get the latest news involving their favourite housemates.</p>
		</div>
	</div>

</section>

<div class="contact-bg project-page__contact">

	<!-- Static bottom arrows for mobile -->

	<div class="arrow-wrapper previous bottom-arrow">
		<a href="john-lewis-kiosk" class="arrow" title="Previous project">Prev</a>
	</div>
	
	<div class="arrow-wrapper next bottom-arrow">
		<a href="asda-mobile-landing.html" class="arrow" title="Next project">Next</a>
	</div>
	<section id="contact" class="container">
		<a href="mailto:hello@paulbamford.me" title="Get in touch" class="contact__email">hello@paulbamford.me</a>
	</section>
</div>

