---
title: Paul Bamford - UI/UX Designer
---

<header role="banner" class="home-header">

	<a href="index.html" title="Paul Bamford - UI/UX designer"><img class="static-logo" src="images/logo.png" alt="Paul Bamford - UI/UX designer"></a>
	
	<!-- Top Navigation -->
	<%= partial "main-nav-home" %>

	<div class="strapline-wrap row container">
	
		<h1 class="strapline"><span class="	strapline__highlight">Designed</span> to stand out</h1>
		<div class="header__strapline-graphic">		
			<img class="webpage-img" src="images/header-webpage-img.png">
			<div class="webpage-img__bg"></div>		
		</div>
	</div>

</header>

<div class="intro-bg">
	<section class="intro-banner row container">	
		<img class="intro-banner__img" src="images/me-pic.png" alt="Paul Bamford">
		<div class="intro-banner__copy">
			<h1 class="name">Paul Bamford</h1>
			<h2 class="job-title">UI<span class="dark-grey-text">/</span>UX designer &#43; front end developer</h2>
			<a href="#work" class="triangle" title="See some work"></a>
		</div>
	</section>
</div>

<!-- Work section -->

<section class="work" id="work">
	<h1 class="section__title">Selected work</h1>

	<!-- Featured work items -->

	<!-- Work item 1 -->
	<div class="work__item__bg">
		<div class="work__item featured row container">
			<div class="featured__content">
				<h2 class="work__item__title">John Lewis</h2>
				<h3 class="work__item__type">In-store kiosk</h3>
				<p class="work__item__desc">HTML touch screen kiosk design for John Lewis department stores.</p>
				<a href="john-lewis-kiosk.html" class="green-text work__item__more transition" title="More"><span>More</span></a>
			</div>
			<a href="john-lewis-kiosk.html" title="John Lewis Kisok">
				<img class="fluid featured__img unveil" src="images/blank-img.png" data-src="images/john-lewis-kisok.png">
			</a>
		</div>
		</div>

	<!-- Work item 2 -->
	<div class="work__item__bg">
		<div class="work__item featured row container">
			<div class="featured__content">
				<h2 class="work__item__title">Big Brother UK</h2>
				<h3 class="work__item__type">iPad app</h3>
				<p class="work__item__desc">The first ever iPad app design for the UK version of reality series Big Brother.</p>
				<a href="big-brother-ipad.html" class="green-text work__item__more transition" title="More"><span>More</span></a>
			</div>
			<a href="big-brother-ipad.html" title="Big Brother iPad app">
				<img class="fluid featured__img unveil" src="images/blank-img.png" data-src="images/big-brother-ipad.png">
			</a>	
		</div>
	</div>

	<!-- Work item 3 -->
	<div class="work__item__bg row">
		<div class="work__item featured container">
			<div class="featured__content">
				<h2 class="work__item__title">Asda Mobile</h2>
				<h3 class="work__item__type serif-type">Web page</h3>
				<p class="work__item__desc serif-type">Web pages to publicise Asda Mobile's network provider change and new services.</p>
				<a href="asda-mobile-landing.html" class="green-text work__item__more" title="More"><span>More</span></a>
			</div>
			<a href="asda-mobile-landing.html" title="Asda Mobile landing page">
				<img class="fluid featured__img unveil" src="images/blank-img.png" data-src="images/asda-mobile-desktop.jpg">
			</a>
		</div>
	</div>

	<!-- Work item 4 -->
	<div class="work__item__bg row">
		<div class="work__item featured container">
			<div class="featured__content">
				<h2 class="work__item__title">Nokia Lumia</h2>
				<h3 class="work__item__type serif-type">Mobile website</h3>
				<p class="work__item__desc serif-type">Mobile microsite to mark lanch of Nokia's flagship Lumia 1020 handset in the U.S.</p>
				<a href="lumia-1020-mobile.html" class="green-text work__item__more" title="More"><span>More</span></a>
			</div>
			<a href="lumia-1020-mobile.html" title="Nokia Lumia 1020 mobile site">
				<img class="fluid featured__img unveil mobile-project" src="images/blank-img.png" data-src="images/lumia-1020.jpg">
			</a>
		</div>
	</div>

	<!-- Work item 5 -->
	<div class="work__item__bg row">
		<div class="work__item featured container">
			<div class="featured__content">
				<h2 class="work__item__title">John Lewis</h2>
				<h3 class="work__item__type serif-type">iPad app concept</h3>
				<p class="work__item__desc serif-type">Concept designs for John Lewis' first iPad app</p>
				<a href="john-lewis-ipad.html" class="green-text work__item__more" title="More"><span>More</span></a>
			</div>
			<a href="john-lewis-ipad.html" title="John Lewis iPad app concept">
				<img class="fluid featured__img unveil" src="images/blank-img.png" data-src="images/john-lewis-ipad.png">
			</a>
		</div>
	</div>

	<div class="container work__thumbs">
		
		<h2 class="work__secondary-title">More work</h2>
		<!-- More work items -->
		<ul class="unstyled-list inline thumbs">
			<li class="work__item--secondary">
				<a href="watch-ipad.html" title="Watch iPad concept">
					<img class="fluid thumb-img" src="images/watch-thumb.jpg" alt="Asda Mobile site">
					<div class="thumb-caption">				
						<h3 class="thumb-caption--title">Watch iPad app concept</h3>
						<span class="thumb-caption--desc">UI</span>
					</div>
				</a>
			</li>
			<li class="work__item--secondary">
				<a href="milkshake-ipad.html">
					<img class="fluid thumb-img" src="images/milkshake-thumb.jpg" alt="Milkshake iPad app">
					<div class="thumb-caption">					
						<h3 class="thumb-caption--title">Milkshake</h3>
						<span class="thumb-caption--desc">iPad app concept</span>
					</div>
				</a>
			</li>
			<li class="work__item--secondary">
				<a href="asda-mobile-site.html" title="Asda Mobile site">
					<img class="fluid thumb-img" src="images/asda-mobile-thumb.jpg" alt="Asda Mobile site">
					<div class="thumb-caption">
						<h3 class="thumb-caption--title">Asda Mobile</h3>
						<span class="thumb-caption--desc">Mobile UI/Front end development</span>
					</div>
				</a>
			</li>
			<li class="work__item--secondary">
				<a href="other-projects.html" title="Other projects">
					<img class="fluid thumb-img" src="images/bolser-email-thumb.png" alt="Bolser HTML email">
				<div class="thumb-caption">
					<h3 class="thumb-caption--title">Other projects</h3>
					<span class="thumb-caption--desc">Bits and pieces</span>
				</div>
				</a>
			</li>
		</ul>
	</div>
</section>

<!-- About section -->

<div class="about-bg">	
	<section class="about container" id="about">

		<div class="about__bio">
			<h1 class="section__title about__title">It's about more than <strong>just</strong> pretty pixels</h1>
			<p class="about__bio__text">Self taught UI/UX designer and front-end developer with over 5 years of agency experience working on a wide variety of projects with some of the biggest names around. Whether I'm designing and building responsive websites or putting together visuals for mobile apps and touch screen kiosk everything I do is focused on simple, intuitive and beautiful experiences for users that work.</p>
		</div>
	</section>	
	<!-- <img class="pixels fluid" src="images/shoom.png" alt=""> -->
</div>

<!-- Contact section -->

<div class="contact-bg">
	<section id="contact" class="contact container">
		<img class="contact__icon" alt="Contact me" src="images/contact-icon.png">
		<h1 class="contact__title">Want to talk?</h1>
		<a href="mailto:hello@paulbamford.me" class="contact__email">hello@paulbamford.me</a>
	</section>	
</div>