---
title: Paul Bamford - UI/UX Designer - John Lewis iPad app
---

<header role="banner" class="project-page__header">

<%= partial "main-nav", :class=> "" %>

<div class="project-page__title-bg">

	<div class="container slideable">


		<div class="project-page__title">
			<h1>John Lewis</h1>
			<h2>iPad app concept</h2>
			<h3>UI/UX</h3>
		</div>

		<div class="project-page__intro">
			<p>Is it possible to seamlessly combine a lifestyle magazine with a traditional e-commerce experience? John Lewis wanted a concept that would be innovative and interesting to use whilst being completely intuitive and simple. Users scroll through magazine style features, accessing any product info by swiping up or using the slide out navigation to browse and search products from <a href="http://www.johnlewis.com" title="John Lewis" class="green-text">johnlewis.com</a>. Add to that wish lists, a store locator and a product scanner and you have an app that's not only hand at home but a useful instore tool too.</p>
		</div>

		<div class="arrow-wrapper previous">
			<a href="lumia-1020-mobile.html" class="arrow" title="Previous project">Prev</a>
			<p class="arrow__job-title">Nokia Lumia 1020</p>
		</div>

		<div class="arrow-wrapper next">
			<a href="watch-ipad.html" class="arrow" title="Next project">Next</a>
			<p class="arrow__job-title">Watch iPad app</p>
		</div>
 	
	</div>

	</div>

</header>

<section class="project-page__content">	

	<div class="container">

		<figure>
			<img src="images/blank-img.png" data-src="images/john-lewis-ipad-img-1.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Magazine screen</figcaption>
		</figure>
	
		<div class="project-page__copy">
			<p>Product images are laid out in a magazine style with more info available when the product is tapped.</p>
		</div>
	
		<figure>
			<img src="images/blank-img.png" data-src="images/john-lewis-ipad-img-4.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Product category list</figcaption>
		</figure>
	
		<figure>
			<img src="images/blank-img.png" data-src="images/john-lewis-ipad-img-3.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Feature page</figcaption>			
		</figure>

		<div class="project-page__copy">
			<p>Feature page for the running department provides information on the local weather and leads through to weather related and seasonal sports equipment.</p>
		</div>
	
		<figure>
			<img src="images/blank-img.png" data-src="images/john-lewis-ipad-img-2.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Product page</figcaption>
		</figure>

		<figure>
			<img src="images/blank-img.png" data-src="images/john-lewis-ipad-img-5.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Interactive feature page</figcaption>
		</figure>

		<figure>
			<img src="images/blank-img.png" data-src="images/john-lewis-ipad-img-6.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Related product filters</figcaption>
		</figure>

	</div>

</section>

<div class="contact-bg project-page__contact">

	<!-- Static bottom arrows for mobile -->

	<div class="arrow-wrapper previous bottom-arrow">
		<a href="lumia-1020-mobile.html" class="arrow" title="Previous project">Prev</a>
	</div>
	
	<div class="arrow-wrapper next bottom-arrow">
		<a href="watch-ipad.html" class="arrow" title="Next project">Next</a>
	</div>
	
	<section id="contact" class="container">
		<a href="mailto:hello@paulbamford.me" title="Get in touch" class="contact__email">hello@paulbamford.me</a>
	</section>
</div>

