---
title: Paul Bamford - UI/UX Designer - John Lewis in-store kiosk
---

<header role="banner" class="project-page__header">

<%= partial "main-nav", :class=> "" %>

<div class="project-page__title-bg">

	<div class="container slideable">


		<div class="project-page__title">
			<h1>John Lewis</h1>
			<h2>In-store kiosk</h2>
			<h3>Visual design</h3>
		</div>

		<div class="project-page__intro">
			<p>Major UK department store John Lewis is synonymous with quality and service so the designs for a touch screen kiosk which would act as a link between their website and their stores had to reflect that. This HTML5 kiosk aims to give customers the quality experience they're used to whilst providing something new and attractive to draw shoppers in and engage with them on a new level.</p>

			<p>In development</p>
		</div>

		<div class="arrow-wrapper next">
			<a href="big-brother-ipad.html" class="arrow" title="Next project">Next</a>
			<p class="arrow__job-title">Big Brother iPad</p>
		</div>
 	
	</div>

	</div>

</header>

<section class="project-page__content">	

	<div class="container">

		<figure>
			<img src="images/blank-img.png" data-src="images/john-lewis-kiosk-img-1.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Inspiration screen</figcaption>
		</figure>
	
		<div class="project-page__copy">
			<p>The concept for the kiosk was to lead people into products on the website through more magazine like, editorial features.</p>
		</div>
	
		<figure>
			<img src="images/blank-img.png" data-src="images/john-lewis-kiosk-img-2.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Home screen</figcaption>
		</figure>
	
		<figure>
			<img src="images/blank-img.png" data-src="images/john-lewis-kiosk-img-3.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Video intro</figcaption>
		</figure>


		<div class="project-page__copy">
			<p>A video related to the department the kiosk is in plays on loop to attract the customer's attention.</p>
		</div>
	
		<figure>
			<img src="images/blank-img.png" data-src="images/john-lewis-kiosk-img-4.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Search overlay screen</figcaption>
		</figure>

		<figure>
			<img src="images/blank-img.png" data-src="images/john-lewis-kiosk-img-5.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Slide out navigation</figcaption>
		</figure>
	
	</div>
	
</section>


<div class="contact-bg project-page__contact">

	<!-- Static bottom arrows for mobile -->

	<div class="arrow-wrapper next bottom-arrow">
		<a href="big-brother-ipad.html" class="arrow" title="Next project">Next</a>
	</div>


	<section id="contact" class="container">
		<a href="mailto:hello@paulbamford.me" title="Get in touch" class="contact__email">hello@paulbamford.me</a>
	</section>
</div>

