---
title: Paul Bamford - UI/UX Designer - Nokia Lumia 1020 mobile site
---

<header role="banner" class="project-page__header">

<%= partial "main-nav", :class=> "" %>

<div class="project-page__title-bg">

	<div class="container slideable">


		<div class="project-page__title">
			<h1>Nokia Lumia 1020</h1>
			<h2>Mobile website</h2>
			<h3>UI/UX</h3>
		</div>

		<div class="project-page__intro">
			<p>Nokia have been receiving a lot of attention for their recent series of Lumia handsets and the 1020 aimed to take that up a notch. With a 41MP camera among it's features Nokia wanted to push it's benefits to the U.S. market through a mobile banner ad campaign. The site primarily targeted users of the 1020's high-end competitors such as the iPhone and HTC One so the look and feel had to reflect that whilst still working on lower spec handsets so balancing style with backward compatibility was vital.</p>

			<p>No longer live</p>
		</div>


		<div class="arrow-wrapper previous">
			<a href="asda-mobile-landing.html" class="arrow" title="Previous project">Prev</a>
			<p class="arrow__job-title">Just TV Stands</p>
		</div>

		<div class="arrow-wrapper next">
			<a href="john-lewis-ipad.html" class="arrow" title="Next project">Next</a>
			<p class="arrow__job-title">John Lewis iPad app</p>
		</div>
 	
	</div>

	</div>

</header>

<section class="project-page__content">	

	<div class="container mobile-project">

		<figure class="mobile-project__fig">
			<img src="images/blank-img.png" data-src="images/nokia-lumia-1020-img-1.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Homepage</figcaption>
		</figure>	
	
		<figure class="mobile-project__fig">
			<img src="images/blank-img.png" data-src="images/nokia-lumia-1020-img-5.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">"Discover more" navigation</figcaption>
		</figure>

		<div class="project-page__copy">
			<p>When "Discover more" is clicked the page scrolls down to a nav section, leading to product features.</p>
		</div>

		<figure class="mobile-project__fig">
			<img src="images/blank-img.png" data-src="images/nokia-lumia-1020-img-3.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Feature page</figcaption>			
		</figure>
	
		<figure class="mobile-project__fig">
			<img src="images/blank-img.png" data-src="images/nokia-lumia-1020-img-2.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Feature detail view</figcaption>
		</figure>

		<div class="project-page__copy">
			<p>Users scroll through a number of device features, getting more information via the slide up panels. The success of the campaign would be judged on the amount of engagement an user had with the site so keeping messaging concise and people browsing as many pages as possible without frustration or losing interest really mattered.</p>
		</div>

		<figure class="mobile-project__fig">
			<img src="images/blank-img.png" data-src="images/nokia-lumia-1020-img-4.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Navigation overlay</figcaption>
		</figure>

	</div>

</section>

<div class="contact-bg project-page__contact">

	<!-- Static bottom arrows for mobile -->

	<div class="arrow-wrapper previous bottom-arrow">
		<a href="asda-mobile-landing.html" class="arrow" title="Previous project">Prev</a>
	</div>
	
	<div class="arrow-wrapper next bottom-arrow">
		<a href="john-lewis-ipad.html" class="arrow" title="Next project">Next</a>
	</div>
	
	<section id="contact" class="container">
		<a href="mailto:hello@paulbamford.me" title="Get in touch" class="contact__email">hello@paulbamford.me</a>
	</section>
</div>

