---
title: Paul Bamford - UI/UX Designer - Milkshake iPad app concept
---

<header role="banner" class="project-page__header">

<%= partial "main-nav", :class=> "" %>

<div class="project-page__title-bg">

	<div class="container slideable">


		<div class="project-page__title">
			<h1>Milkshake</h1>
			<h2>iPad app concept</h2>
			<h3>UI/UX</h3>
		</div>

		<div class="project-page__intro">
			<p>Following the success of our Big Brother iPad we were asked to put together ideas for Channel5's children's show Milkshake. As I was designing for a younger audience (2 to 7 years) the first thing I did was a lot of research. The type of imagery, fonts and language used are all vital, not to mention a simple app structure which can be easily understood and remembered.</p>
		</div>

		<div class="arrow-wrapper previous">
			<a href="watch-ipad.html" class="arrow" title="Previous project">Prev</a>
			<p class="arrow__job-title">Watch iPad app</p>
		</div>

		<div class="arrow-wrapper next">
			<a href="asda-mobile-site.html" class="arrow" title="Next project">Next</a>
			<p class="arrow__job-title">Asda Mobile</p>
		</div>
 	
	</div>

	</div>

</header>

<section class="project-page__content">	

	<div class="container">

		<figure>
			<img src="images/blank-img.png" data-src="images/milkshake-ipad-img-1.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Homepage</figcaption>
		</figure>
	
		<div class="project-page__copy">
			<p>Horizontally scrolling carousel of Milkshake shows with "My Shows" section.</p>
		</div>
	
		<figure>
			<img src="images/blank-img.png" data-src="images/milkshake-ipad-img-4.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Rewards page</figcaption>
		</figure>

		<div class="project-page__copy">
			<p>When a user unlocks an achievement (highscore in a game, completes a challenge etc) they receive a certificate and a prize which is added to their personalised section.</p>
		</div>
	
		<figure>
			<img src="images/blank-img.png" data-src="images/milkshake-ipad-img-3.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">"My Page"</figcaption>			
		</figure>

		<div class="project-page__copy">
			<p>Collection of favourite shows and achievements.</p>
		</div>
	
		<figure>
			<img src="images/blank-img.png" data-src="images/milkshake-ipad-img-2.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Show specific page</figcaption>
		</figure>

	</div>

</section>

<div class="contact-bg project-page__contact">

	<!-- Static bottom arrows for mobile -->

	<div class="arrow-wrapper previous bottom-arrow">
		<a href="watch-ipad.html" class="arrow" title="Previous project">Prev</a>
	</div>
	
	<div class="arrow-wrapper next bottom-arrow">
		<a href="asda-mobile-site.html" class="arrow" title="Next project">Next</a>
	</div>
	
	<section id="contact" class="container">
		<a href="mailto:hello@paulbamford.me" title="Get in touch" class="contact__email">hello@paulbamford.me</a>
	</section>
</div>

