---
title: Paul Bamford - UI/UX Designer - Watch iPad app concept
---

<header role="banner" class="project-page__header">

<%= partial "main-nav"%>

<div class="project-page__title-bg">

	<div class="container slideable">


		<div class="project-page__title">
			<h1>Other projects</h1>
		</div>

		<div class="arrow-wrapper previous">
			<a href="asda-mobile-site.html" class="arrow" title="Previous project">Prev</a>
			<p class="arrow__job-title">Asda Mobile</p>
		</div>

	</div>

	</div>

</header>

<section class="project-page__content">	

	<div class="container">

		<section class="other-projects-block right-align no-border">
			<div class="other-project-block__desc">
				<h1 class="other-projects-block__title">Mobile</h1>
				<p class="other-projects-block__copy">I've worked on a variety of mobile projects from sites to apps for clients including Adidas, the BBC, Nokia, Michelin, Sainsbury's and Wahlmart (Asda). So i've had to become more than a little familiar with design guides for iOS, Android, Windows Phone and Symbian.</p>
			</div>
			<img src="images/blank-img.png" data-src="images/other-mobile.jpg" alt="" class="project-page__img fluid unveil">
		</section>

		<section class="other-projects-block left-align">
			<img src="images/blank-img.png" data-src="images/branding.jpg" alt="" class="project-page__img fluid unveil">
			<div class="other-project-block__desc">
				<h1 class="other-projects-block__title">Branding and icons</h1>
				<p  class="other-projects-block__copy">Way back in my younger days I spent most of my time drawing cartoon characters and logos for my favourite bands. Now I channel that energy in to creating identities, icons and illustrations that give projects that hand crafted feel.</p>
			</div>
		</section>

		<section class="other-projects-block right-align">
			<div class="other-project-block__desc">
				<h1 class="other-projects-block__title">HTML email</h1>
				<p class="other-projects-block__copy">Putting together HTML emails that make it into inboxes and get the recipient to click is an art form in itself. Over the years i've designed, built and tested enough to know what works.</p>
			</div>
			<img src="images/blank-img.png" data-src="images/bolser-AR-email.jpg" alt="" class="project-page__img fluid unveil email-img" >
		</section>
	
	
	</div>

</section>

<div class="contact-bg project-page__contact">

	<!-- Static bottom arrows for mobile -->
	
	<div class="arrow-wrapper previous bottom-arrow">
		<a href="asda-mobile-site.html" class="arrow" title="Previous project">Next</a>
	</div>

	<section id="contact" class="container">
		<a href="mailto:hello@paulbamford.me" title="Get in touch" class="contact__email">hello@paulbamford.me</a>
	</section>
</div>

