joh-lewis-ipad---
title: Paul Bamford - UI/UX Designer - Watch iPad app concept
---

<header role="banner" class="project-page__header">

<%= partial "main-nav", :class=> "" %>

<div class="project-page__title-bg">

	<div class="container slideable">


		<div class="project-page__title">
			<h1>Watch</h1>
			<h2>iPad app concept</h2>
			<h3>UI/UX</h3>
		</div>

		<div class="project-page__intro">
			<p>Watch is one of a number of digital TV channels owned and run by UKTV. They were auditioning for a partner to help them with app development in the future so we put together some screens based on a brief for their new flagship show "The Incredible Mr Goodwin", a show about a daredevil stuntman. One key requirement was getting the viewer engaged and creating a real second screen experience so as well as show information and video our concept included social polls and features like the Stunt Builder that allowed people to assemble their own stunts which would be performed in a special webisode at the end of the season.</p>
		</div>


		<div class="arrow-wrapper previous">
			<a href="joh-lewis-ipad.html" class="arrow" title="Previous project">Prev</a>
			<p class="arrow__job-title">John Lewis iPad app</p>
		</div>

		<div class="arrow-wrapper next">
			<a href="milkshake-ipad.html" class="arrow" title="Next project">Next</a>
			<p class="arrow__job-title">Milkshake iPad app</p>
		</div>
 	
	</div>

	</div>

</header>

<section class="project-page__content">	

	<div class="container">

		<figure>
			<img src="images/blank-img.png" data-src="images/watch-ipad-img-1.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Pre-show homepage</figcaption>
		</figure>
	
		<div class="project-page__copy">
			<p>The app focused on giving people insights to the man behind "The Incredible Mr Goodwin" as well as giving them a chance to interact with the show.</p>
		</div>
	
		<figure>
			<img src="images/blank-img.png" data-src="images/watch-ipad-img-2.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Second screen on-air poll</figcaption>
		</figure>
	
	
		<figure>
			<img src="images/blank-img.png" data-src="images/watch-ipad-img-4.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Social activity feed</figcaption>
		</figure>

		<figure>
			<img src="images/blank-img.png" data-src="images/watch-ipad-img-5.jpg" alt="" class="project-page__img fluid unveil" >
			<figcaption class="project-caption">Stunt Builder</figcaption>
		</figure>
	
		<div class="project-page__copy">
			<p>Users picked the elements of a stunt and submitted their choices. The most popular stunt would be performed at the end of the season.</p>
		</div>
	</div>

</section>

<div class="contact-bg project-page__contact">

	<!-- Static bottom arrows for mobile -->

	<div class="arrow-wrapper previous bottom-arrow">
		<a href="joh-lewis-ipad.hmtl" class="arrow" title="Previous project">Prev</a>
	</div>
	
	<div class="arrow-wrapper next bottom-arrow">
		<a href="milkshake-ipad.html" class="arrow" title="Next project">Next</a>
	</div>
	
	<section id="contact" class="container">
		<a href="mailto:hello@paulbamford.me" title="Get in touch" class="contact__email">hello@paulbamford.me</a>
	</section>
</div>

